body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "yel yel pur"
    "re gr pur"
    "re bl bl";
    margin: 0;
    background: pink;
}

nav {
    max-width: 1100px;
    margin: 0 auto;
  
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
  }
  
  nav li {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
    padding: 20px 0;
  }
  
  nav li:first-child {
    color: rgb(95, 4, 170);
  }
  
  nav li:first-child:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: rgb(95, 4, 170);
    transform: translateY(-20px);
  }
  
  nav li:hover:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: rgb(95, 4, 170);
    transform: translateY(-20px);
  }
  
  nav li:last-child:before {
    background: none;
  }
  
  #language {
    background: rgba(128, 128, 128, 0.25);
    border-radius: 50px;
    padding: 8px 16px;
  }

div:nth-child(1) {
    background: yellow;
    margin: 20px;
    grid-area: yel;
}
div:nth-child(2) {
    background: purple;
    margin: 20px;
    grid-area: pur;
}
div:nth-child(3) {
    background: green;
    margin: 20px;
    grid-area: gr;
}
div:nth-child(4) {
    background: red;
    margin: 20px;
    grid-area: re;
}
div:nth-child(5) {
    background: blue;
    margin: 20px;
    grid-area: bl;
}
